:root {
    --accent-color: #2196f3;
    --text-color: #212121;
    --bg-color: #2F303A;
    --white-color: #ffffff;
    --bg-colore-two: #e5e5e5;
    --bg-color-three: #f5f4fa;
    --second-text-color: #757575;
    --rgba-address-footer: rgba(255, 255, 255, 0.6);}

/* index.html */

/* <!-- Верхняя линия --> */
body {
    background-color:var(--white-color);sans-serif;
    color: var(--second-text-color);
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.logo-web {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

}
.logo-web:focus {
color: var(--accent-color);
}
.logo-studio {
   color:var(--text-color); 
   font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-footer {
    color: var(--white-color); 
    font-family: Raleway, sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   text-decoration: none;  
}

.nav a {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;

}
.address-header a {
    color: var(--second-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav:hover,
.site-nav:focus {
    color: var(--accent-color);
 }
 .nav .site-nav.curent{
     color: var(--accent-color);
 }
 .mailto:hover,
 .mailto:focus {
     color: var(--accent-color);
 }
.phone:hover,
.phone:focus {
    color: var(--accent-color);
}
ul { 
    list-style: none;
}


/*   <!-- Шапка -->   */


.hero {
    background-color:var(--bg-color); 
    color: rgba(0,0,0,0.25); 
    font-size: 44px; 
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    top: 80px;
    text-align: center;
    text-decoration: none;
}
.hero-title {
    color: var(--white-color)
}

.button {
color: var(--white-color);
background-color: var(--accent-color);
width: 200px;
height: 50px;
left: 700px;
top: 430px;
}


/* Особенности */

.feature-title{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0,03em;
    color: var(--text-color);
    text-transform: uppercase;
}
.feature-txt {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
}

/* Чем мы занимаемся */
.section-title {
    font-size: 36px;
    line-height: 1.17px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--text-color)
}
.section-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/* Footer */

.page-class {
    background-color: var(--bg-color);
}
.footer-map {
    color: var(--white-color);
    font-style: normal;
    text-decoration: none;
}
.footer-address {
    color: var(--rgba-address-footer);
    font-style: normal;
    text-decoration: none;
}

/* Portfolio.html */


    
.button-item {
    background-color: var(--bg-color-three);
    color: var(--text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    border-style: none;
    cursor: pointer;
}

.button-item:hover,
.button-item:focus {
color: var(--white-color);
background-color: var(--accent-color);
}


a {
    text-decoration: none;
}


.work-tagline {
    color: var(--text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 00.06em;  
}
.work-txt {
color: var(--second-text-color);
font-size: 16px;
line-height: 1.9;
letter-spacing: 00.03em;
}


